#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
  }

  label:hover{
    cursor: pointer;
  }

  .loadImage{
    position: relative;
    width: 100%;
}

.loadImage > img{
    width: 100%;
}

.cancelIcon:hover{
    cursor: pointer;
}

.loadImage  svg{
    position: absolute;
    top: 15px;
    right: 15px;
}

.error-message{
  width: 100%;
  margin-top: .1rem;
  font-size: .8em;
  color: #e50202;
}

.pointer-class:hover{
  cursor: pointer;
}